<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<main th:fragment="content(entity)">
    <div class="container">
        <div class="container-model" style="height: 500px; padding: 20px;">
            <h1 class="model-title">Update Model</h1>
            <form th:action="@{/camera-point/update-point}" th:object="${entity}" method="post" enctype="multipart/form-data"
                  class="model-form">
                <input th:field="*{id}" readonly type="hidden">
                <div class="input-model-container">
                    <label for="name">Name</label>
                    <input th:field="*{name}" type="text" id="name" placeholder="Type name..." required>
                    <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                    <label for="description">Description</label>
                    <textarea th:field="*{description}" id="description" placeholder="Type description..."
                              maxlength="500"></textarea>
                    <span style="color:red" th:if="${#fields.hasErrors('description')}" th:max="500"
                          th:errors="*{description}"></span>

                    <a th:href="${entity.technicalUrl}" style="color: #1f4bc1; font-size: 20px">Click here for update camera position</a>
                </div>
                <div class="btn-login-container">
                    <button type="submit" class="btn-login">Update</button>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>