<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="content(message)">
    <div class="container">
        <div class="welcome">
            <h1 class="hello-title">
                Error
            </h1>
            <button class="btn-go-back" onclick="goBack()">Continue</button>
        </div>
    </div>
    <script>
        function goBack() {
            window.location.href="/model3d/controller-panel";
        }
    </script>
</main>
</body>
</html>