<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar()" class="navbar">

    <ul class="nav-list">
        <li class="nav-item">
            <a class="logo-link">
                <img src="/images/logo.svg" alt="logo" class="logo-img"/>
            </a>
        </li>
        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <div class="dropdown">3d Models
                    <div class="dropdown-content">
                        <a href="/model3d/create-model-form">Create 3d Model</a>
                        <a href="/model3d/controller-panel">3d Model Panel</a>
                    </div>
                </div>
                <div class="dropdown"> Background of Showcase
                    <div class="dropdown-content">
                        <a href="/showcase-background/creating-form">Create Background</a>
                        <a href="/showcase-background/controller-panel">Background Panel</a>
                    </div>
                </div>
                <a th:href="@{/account/technical/logout}" th:method="post"
                   class="btn-primary" role="button">Log out</a>
            </li>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="btn-primary" href="/account/technical/login-page">Sign in </a>
                <a class="btn-primary" href="/account/technical/registration-page">Sign up</a>
            </li>
        </th:block>
    </ul>
</nav>
</body>
</html>
