<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
</head>
<body>

<main th:fragment="content(signIn)">

    <div class="container">
        <div class="container-login">
            <div th:if="${param.error}">
                <div class="error-msg" style="color:red">
                    <i class="fa fa-times-circle"></i>
                    Check whether your email or password is correct
                </div>
            </div>
            <h1 class="account-title">LogIn</h1>
            <form th:action="@{/authenticate}" th:object="${signIn}" method="post" class="login-form">
                <div class="input-container">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login" placeholder="Type login...">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Type password...">
                </div>
                <div class="btn-login-container">
                    <button class="btn-login">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>