<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
</head>
<body>

<main th:fragment="content(signIn)">
    <div th:if="${param.error}">
        <div class="error-msg">
            <i class="fa fa-times-circle"></i>
            Check whether your email or password is correct
        </div>
    </div>
    <div style="margin-top: 20px;">
        <form th:action="@{/authenticate}" th:object="${signIn}" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input name="login" class="form-control" id="login" type="text" placeholder="Enter login">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

</body>
</html>