<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="content(signUp)">
<!--    <form th:action="@{/account/technical/registration}" th:object="${signUp}" method="post">-->
<!--        <div class="mb-3">-->
<!--            <label for="login" class="form-label">Login</label>-->
<!--            <input th:field="*{login}" type="text" class="form-control" id="login" >-->
<!--            <span style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="password" class="form-label">Password</label>-->
<!--            <input th:field="*{password}" id="password" type="password" class="form-control">-->
<!--            <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="passwordConfirm" class="form-label">Confirm password</label>-->
<!--            <input id="passwordConfirm" th:field="*{passwordConfirm}" type="password" class="form-control">-->
<!--            <span style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="secretKey" class="form-label">Secret key</label>-->
<!--            <input th:field="*{secretKey}" id="secretKey" type="password" class="form-control">-->
<!--            <span style="color:red" th:if="${#fields.hasErrors('secretKey')}" th:errors="*{secretKey}"></span>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->

    <div class="container">
        <div class="container-login">
            <h1 class="account-title">Sign Up</h1>
            <form th:action="@{/account/technical/registration}" th:object="${signUp}" method="post" class="login-form">
                <div class="input-container">
                    <label for="login">Login</label>
                    <input th:field="*{login}" type="text" id="login" placeholder="Type login...">
                    <span style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password" id="password" placeholder="Type password...">
                    <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <label for="confirm password">Confirm password</label>
                    <input th:field="*{passwordConfirm}" type="password" id="confirm password" placeholder="Type password...">
                    <span style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                    <label for="secret key">Secret key</label>
                    <input th:field="*{secretKey}" type="password" id="secret key" placeholder="Type key...">
                    <span style="color:red" th:if="${#fields.hasErrors('secretKey')}" th:errors="*{secretKey}"></span>
                </div>
                <div class="btn-login-container">
                    <button class="btn-login">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>