<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<main th:fragment="content(entity)">
    <div class="container">
    <div class="container-model" style="height: 900px; padding: 20px;">
        <h1 class="model-title">Add Model</h1>
        <form th:action="@{/model3d/create-model}" th:object="${entity}" method="post" enctype="multipart/form-data" class="model-form">
            <div class="input-model-container">
                <label for="name">Name</label>
                <input th:field="*{name}" type="text" id="name" placeholder="Type name..." >
                <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                <label for="description">Description</label>
                <textarea th:field="*{description}" id="description" placeholder="Type description..." maxlength="500"></textarea>
                <span style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

                <label for="brand">Brand</label>
                <input th:field="*{brand}" type="text" id="brand" placeholder="Type brand name...">
                <span style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>

                <label for="priority">Sequence in a row</label>
                <input th:field="*{priority}" type="number" min="1" th:max="${entity.priority}"  id="priority" placeholder="Type sequence in a row">
                <span style="color:red" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span>

                <label for="highPolygonPath">Choose High Polygon Model</label>
                <input th:field="*{highPolygonPath}" type="file" id="highPolygonPath" accept=".glb" required>
                <span style="color:red" th:if="${#fields.hasErrors('highPolygonPath')}"
                      th:errors="*{highPolygonPath}"></span>

                <label for="lowPolygonPath" c>Choose Low Polygon Model</label>
                <input th:field="*{lowPolygonPath}" type="file" id="lowPolygonPath" accept=".glb" required>
                <span style="color:red" th:if="${#fields.hasErrors('lowPolygonPath')}"
                      th:errors="*{lowPolygonPath}"></span>

                <label for="backgroundPathLight" >Choose Light Background</label>
                <input th:field="*{backgroundPathLight}" accept=".jpg" type="file" id="backgroundPathLight" required>
                <span style="color:red" th:if="${#fields.hasErrors('backgroundPathLight')}"
                      th:errors="*{backgroundPathLight}"></span>

                <label for="backgroundPathDark" >Choose Dark Background</label>
                <input th:field="*{backgroundPathDark}" accept=".jpg" type="file" id="backgroundPathDark" required>
                <span style="color:red" th:if="${#fields.hasErrors('backgroundPathDark')}"
                      th:errors="*{backgroundPathDark}"></span>
            </div>
            <div class="btn-login-container">
                <button type="submit" class="btn-login">Submit</button>
            </div>
        </form>
    </div>
    </div>

</main>

</body>
</html>