<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<main th:fragment="content(model)">
    <div class="container mt-5">
        <form th:action="@{/model3d/update-model}" th:object="${model}" method="post" enctype="multipart/form-data">
            <input th:field="*{id}" readonly type="hidden" >
            <div class="form-group">
                <label for="name">Name:</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" name="name">
                <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea th:field="*{description}" class="form-control" id="description" name="description" rows="4"
                          maxlength="500"></textarea>
                <span style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>

            <div class="form-group">
                <label for="brand">Brand:</label>
                <input th:field="*{brand}" type="text" class="form-control" id="brand" name="brand">
                <span style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>
            </div>

            <div class="form-group">
                <h3>Current path to height polygon: </h3><p th:text="${model.currentHeightPolygonPath}"></p>
                <input th:field="*{currentHeightPolygonPath}" readonly type="hidden" >
                <label>File height polygon model:</label>
                <input th:field="*{heightPolygonPath}" type="file" class="form-control-file" >
                <span style="color:red" th:if="${#fields.hasErrors('heightPolygonPath')}"
                      th:errors="*{heightPolygonPath}"></span>
            </div>

            <div class="form-group">
                <h3>Current path to low polygon: </h3><p th:text="${model.currentLowPolygonPath}"></p>
                <input th:field="*{currentLowPolygonPath}" readonly type="hidden" >
                <label>File low polygon model:</label>
                <input th:field="*{lowPolygonPath}" type="file" class="form-control-file" >
                <span style="color:red" th:if="${#fields.hasErrors('lowPolygonPath')}"
                      th:errors="*{lowPolygonPath}"></span>
            </div>

            <div class="form-group">
                <h3>Current path to background: </h3> <p th:text="${model.currentBackgroundPath}"></p>
                <input th:field="*{currentBackgroundPath}" readonly type="hidden" >
                <label>File background:</label>
                <input th:field="*{backgroundPath}" type="file" class="form-control-file">
                <span style="color:red" th:if="${#fields.hasErrors('backgroundPath')}"
                      th:errors="*{backgroundPath}"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</main>

</body>
</html>